html, body{
    margin:0;
    padding:0;
    background:#fff;
  }
  
  /* Capas */
  .intro,
  .content{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fff;
  }
  
  /* INTRO: vídeo vertical */
  .intro{
    padding:18px;
    opacity:1;
    transition: opacity 550ms ease;
  }
  
  .intro.fadeOut{
    opacity:0;
    pointer-events:none;
  }
  
  .introVideo{
    width:min(420px, 92vw);
    aspect-ratio: 9 / 16;
    height:auto;
    display:block;
    border-radius:14px;
    object-fit:cover;
    background:#fff;
  }
  
  /* CONTENIDO */
  .content{
    display:none;
    opacity:0;
    transition: opacity 650ms ease;
    padding:0;
    flex-direction:column;
  }
  
  .content.show{
    display:flex;
  }
  
  .content.fadeIn{
    opacity:1;
  }
  
  /* Imagen invitación */
  .inviteImg{
    width:100%;
    height:auto;
    display:block;
    max-width:1100px;
    margin:0 auto;
  }
  
  /* Imagen extra opcional */
  .extraImg{
    width:100%;
    height:auto;
    display:block;
    max-width:1100px;
    margin:0 auto;
    padding-bottom:30px;
  }
  
  